* {
    box-sizing: border-box;
}

html {
    line-height: 1.6;
    color: black;
}
    
body {
    max-width: 1024px;
    margin: 0 auto;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: rem(18px);
    background-color: #f5f5f3;
}

:root {
    --safe-top: env(safe-area-inset-top);
    --safe-bottom: env(safe-area-inset-bottom);
    --safe-left: env(safe-area-inset-left);
    --safe-right: env(safe-area-inset-right);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.6em;
}

img {
    display: block;
    max-width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

input {
    max-width: 100%;
}