.admin-cancel-btn {
    background-color: black;
    border-radius: 28px;
    width: 75%;
    margin-block-start: 1rem;
    padding: 0.5rem;
    
    display: flex;
    justify-self: center;
    justify-content: center;
    align-self: center;
}
