.saved-msg-container {
    position: fixed;
    bottom: 50%;
    right: 25%;
    background-color: green;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
