
.contact-creator-container h2, p {
    text-align: center;
    direction: rtl;
    margin-block-end: 1.5rem;
    margin-block-start: 0.5rem;
}

.contact-creator-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}