.home-page-container {
    overflow-y: scroll;
    scrollbar-width: none;
}

.home-page-container::-webkit-scrollbar {
    display: none;
    background: transparent;
}

.background-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(128, 128, 128, 0.432);
}

.show-img-container {
    position: fixed;
    bottom: 36%;
    // top: 50%;
    right: 1rem;
    left: 1rem;
    // padding: 12px 12px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.admin-btn {
    background-color: black;
    border-radius: 28px;
    width: 6rem;
    height: 2rem;
}

.contact-links {
    text-align: center;
    margin-block-end: 1.5rem;
}

.contact-links span {
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
    display: block;
}

.contact-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding-block-end: 3rem;
}