.username-div, .password-div{
    display: flex;
    flex-direction: row;
    direction: rtl;
    font-size: 0.9rem;
    gap: 0.2rem;
}

@media (max-width: 390px)  {
    .username-div input{
        max-height: 23px;
        align-self: end;
    }
}

.login-btn {
    background-color: black;
    border-radius: 28px;
    width: 6rem;
    height: 2rem;
}