.login-form,
.signup-form {
	display: grid;
	width: min(80%, 300px);
	margin: auto;

	padding: 1em;
	// background-color: $clr4;
	background-color: rgb(199, 187, 162);
	align-items: center;
    justify-items: center;
}

@media (max-width: 321px)  {
    .login-form, .signup-form{
        width: min(90%, 300px);
    }
}

.signup-form {
	// input {
	// 	// width: 100%;
	// }

    .admin-toggle {
        display: flex;
        align-items: center;
        justify-self: start;

        span {
            font-size: .8em;
        }
    }

	.signup-btn {
		background-color: black;
    	border-radius: 28px;
    	width: 6rem;
    	height: 2rem;
	}

	.singup-p {
		display: flex;
		direction: rtl;
		flex-direction: row;
		font-size: .9rem;
		gap: 0.2rem;

		align-items: start;
		justify-self: end;
	}
}

.login-page nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2em;

	margin-block: 100px 0.5em;

	a {
		font-size: 0.8em;
		color: $clr4;

		&:hover {
			color: $clr1;
		}
	}
	a.active {
		text-decoration: underline;
		color: $clr2;
	}
}


