.app-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    gap: 5rem;

    min-height: 3.5rem;

    padding: rem(10px) 1rem;
    background-color: black;

    p {
        margin: 0;
    }
    
    span {
        font-size: .8em;
        
        &.local-services {
            color: $clr1;
        }
        
        &.remote-services {
            color: $clr5;
        }
    }
}

.btn {
    width: 100%;
    background-color: black;
    // border: none;
}

.user-info {
    border: none;
    border-inline-end: 1px solid whitesmoke;
}

.main-footer {
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: -2.5rem;
    width: 4.375rem;
    height: 4.375rem;
    display: flex;

    grid-row: 3;

    // background-image: url("imgs/Lin-Peretz-Logo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.app-footer button {
    padding: 0;
}

.contact {
    border: none;
    border-inline-start: 1px solid whitesmoke;
}