.app-header {
    display: flex;
    min-height: 3.5rem;
    width: 100%;

    background-color: black;
    padding: rem(10px) 1rem;
    position: fixed;

    grid-row: 1;
    
    nav {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 1em;
        font-size: .8em;
        text-decoration: none;
        color: whitesmoke;

        .active {
            color: whitesmoke;
            text-decoration: none;
        }

        .title {
            font-size: 1.4em;
            font-weight: bold;
            // margin-inline-end: 2em;
            // margin-inline-start: auto;

            // justify-items: center;
            // justify-self: center;
            text-align: center;
            width: 100%;
        }

        .login-link {
            margin-inline-start: auto;
            color: whitesmoke;
        }

        button {
            margin-inline-end: 0;
        }
    }

    .user-info {
        display: flex;
        align-items: center;
        margin-inline-start: auto;

        color: $clr1;

        .score {
            padding: 8px;
            background-color: $clr2;
            border-radius: 50%;
            margin: 10px;

            color: $clr6;
        }

        img {
            width: 32px;
            aspect-ratio: 1;
            border-radius: 50%;
        }
        
        .btn-link {
            color: $clr2;
        }
    }
}