.choose-time-container {
    // height: 85vh;
    margin-bottom: 1rem;
}

.choose-time {
    width: 100%;
    overflow: hidden;
    // height: 85vh;

    margin-top: 2rem;
}


.times {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: calc(7 * 48px + 6 * 10px);
    overflow-y: auto;

    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.times::-webkit-scrollbar {
    display: none;
}


// .times span {
//     width: 100%;
// }


// .times-btn {
//     width: 100%;
//     height: 48px;
//     font-size: 1rem;
//     border-radius: 8px;
//     border: 1px solid #ccc;
//     background: white;
//     color: black;
//     align-self: center;
//     justify-self: center;
//     margin: 0;

//     scroll-snap-align: start;
// }

.times-btn {
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #ccc;

    margin: 0;
    color: black;
    background-color: white;
}

// @media (min-width: 768px)  {
//     .times-btn{
//         height: 56px;
//         font-size: 16px;
//     }

//     .times{
//         max-height: calc(7 * 56px + 6 * 10px);
//     }
// }