.choose-time {
    width: 100%;
    overflow: hidden;
}

table {
    width: 100%;
    direction: rtl;
    font-size: 0.8rem;
    justify-self: center;
}

td {
    height: max-content;
    width: max-content;
    text-align: center;
    vertical-align: top;
    background: #f5f5f3;
}

.time-btn {
    background-color: #f5f5f3;
    color: black;
    padding: 0;
    border: none;
    width: min-content;
}