.choose-time {
    width: 100%;
    overflow: hidden;
}

table {
    width: 100%;
    direction: rtl;
    font-size: 0.8rem;
    justify-self: center;
}

td {
    height: max-content;
    width: max-content;
    text-align: center;
    vertical-align: top;
    background: #f5f5f3;
}

.times{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
}

.time-btn {
    background-color: #f5f5f3;
    color: black;
    padding: 0.9rem;
    margin-block-end: 1rem;
    border: none;
    width: max-content;
    height: 2rem;
    border-radius: 999px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

// @media (max-width: 321px)  {
//     .time-btn{
//         font-size: 0.6rem;
//     }
// }