.order-details {
    direction: rtl;
}

span {
    font-weight: bold;
}

.confirm-btn-container {
    display: flex;
    justify-content: center;

    margin-block-start: 5rem;
    gap: 10%;
}

.confirm-btn {
    background-color: black;
    color: #f5f5f3;
    font-size: 1rem;
    padding-inline: 1rem;
    border: none;
    border-radius: 999px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}