.contact-info-container {
    text-align: right;
    margin-block-start: 1.7rem;
    margin-block-end: 3rem;
}

.contact-info-container h3 {
    direction: rtl;
    line-height: 1;
}

.contact-info-container h3 span {
    font-size: small;
    margin-inline-start: 0.3rem;
}

.apps-btns {
    display: flex;
    justify-content: center;
    margin-block-start: 0.938rem;
    gap: 1rem;
}

.waze-btn {
    background-color: lightblue;
    color: black;
    padding: 0.625rem 0.938rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.google-btn {
    background-color: lightcoral;
    color: black;
    padding: 0.625rem 0.938rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.waze-btn svg {
    vertical-align: middle;
}

.contact-info {
    height: 16.563rem;
    width: 95%;
    justify-self: center;
    background-image: url("/imgs/Lin-Peretz-Logo-inverted.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 2px;

    // align-items: start;
    // align-content:space-between;
    line-height: normal;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.adress-info {
    margin-inline-end: 0.438rem;
    margin-block-start: 0.438rem;
}

.adress-info h4 {
    margin: 0;
}

.phone-info {
    margin-inline-end: 0.438rem;
    margin-block-end: 0.438rem;
}