.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    // padding: 1rem 1.2rem;
    background-color: #242424;
    color: white;
    // position: relative;
    position: fixed;
    width: 3.125rem;
    height: 3.125rem;
    top: 0px;
    right: 0px;
    // grid-column: 1;

    transition: width 0.3s ease;
}

.navbar.open {
    width: 180px;
}

.hamburger {
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 20;
}

.hamburger span {
    background: white;
    height: 4px;
    width: 100%;
    border-radius: 4px;
    transition: 0.3s;
}

.hamburger.open span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

.nav-links {
    list-style: none;
    position: absolute;
    top: 3.125rem;
    right: 0;
    background: #242424;
    width: 180px;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0px 0px 8px 8px;
    margin: 0;
    direction: rtl;

    opacity: 0;
    transform: translateY(-8px);
    pointer-events: none;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.nav-links.show {
    display: flex;
    opacity: 1;
    pointer-events: auto;

    transition: opacity 0.6s ease, transform 0.6s ease;
}

.nav-links li {
    margin: 10px 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

// @media (min-width: 768px) {
//     .hamburger {
//         display: none;
//     }

//     .nav-links {
//         display: flex;
//         position: static;
//         flex-direction: row;
//         background: none;
//         padding: 0;
//     }

//     .nav-links li {
//         margin: 0 15px;
//     }
// }