.notice-board-container {
    // height: 18.75rem;
    text-align: right;
}

.notice-board-container h3 {
    color: black;
    direction: rtl;
}

.notice-board {
    height: 16.563rem;
    width: 95%;
    justify-self: center;
    background-image: url("/imgs/Lin-Peretz-Logo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;

    align-items: end;
    line-height: normal;

    display: flex;
    align-self: center;
    margin-left: 0.625rem;
}

.notice-board span {
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.61) 0%, rgba(245, 245, 243, 1) 100%);
    padding: 0.5rem;
    // border-radius: 25%;
}