.user-logout-container {
    height: 4.375rem;

    display: flex;
    justify-content:space-between;
    align-items: center;
    
    text-align: right;
}

.user-logout-text-container {
    line-height: 0.6;
    font-size: medium; 
}

.user-logout-text-container h3 {
    color: black;
}

.logout-btn {
    background-color: black;
    border-radius: 28px;
    width: 6rem;
    height: 2rem;
}