
.work-gallery-container {
    height: 16.563rem;
    width: 100%;
    // padding: 5%;
    margin: auto;
    margin-block-start: 2rem;
    margin-block-end: 5rem;
}

.work-gallery-container h3 {
    direction: rtl;
}

.slide {
    padding: 0 10px;
}

.carousel-img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
}
